body {
    background-color: #aaf;
    font-size: 14pt;
    text-align: center;
    font-family: arial;
}
textarea, button, label {
    margin: 10px;
}
textarea {
    background-color: #ddd;
    outline: 0;
    padding: 5px;
    font-size: 14pt;
}
button:hover {
    background-color: #bbb;
}
button {
    outline: 0;
    transition: 0.2s;
    border: none;
    background-color: #ddd;
    border-radius: 1rem;
    font-size: 1.2rem;
    width: 10rem;
    height: 3.2rem;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}